{%extends "basePage.html" %}
{% block body %}
{% if alreadyFriends%}
<div class="alert alert-danger d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
        <use xlink:href="#exclamation-triangle-fill"/>
    </svg>
    <div>
        {{alreadyFriends}}
    </div>
</div>
{%else%}
<div class="row3">
    <div class="col">
        <div class="card">
            <!--start of friends bar -->
            <div class="users-container">
                <br>
                <form action="{{ url_for('chat_page') }}" method="post">
                    <div class="row">
                        <div class="col-sm-3">
                            <button type="submit" class="btn btn-primary btn-med">add friend</button>
                        </div>
                        <div class="col-sm-4">
                            <input class="form-control" id="friendAddress"
                                   name="friendAddress" type="text"
                                   placeholder="0x*****************"></div>
                        <div class="col-sm-4">
                            <input class="form-control" id="friendName" name="friendName"
                                   type="text"
                                   placeholder="name"></div>
                    </div>
                </form>
                <hr class="hr"/>
                <br>
                {% if not friend_list %}
                <ul class="users">
                    <li class="person" data-chat="person1">
                        <div class="user">
                            you have no friends add some!
                        </div>
                    </li>
                </ul>
                {%else%}
                <ul class="users" id="select">
                    {% for i in range(friend_list|length) %}
                    <form action={{url_for('msg',friend_address=friend_list[i][0])}} method="get">
                        <li class="person" data-chat="person13">
                            <div class="user">
                                <img src="https://www.bootdey.com/img/Content/avatar/avatar3.png"
                                     alt="Retail Admin">

                            </div>
                            <p class="name-time">
                                <span class="name">{{ friend_list[i][1] }}</span>
                                <span class="time" id="key">{{ friend_list[i][0] }}</span>
                            </p>
                            <input hidden value={{friend_list[i][0]}} name="selected">
                         <br>
                         <br>
                            <button type="submit"
                                    class="btn btn btn-outline-dark  " style="right:10%;"  >start chatting with {{friend_list[i][1]}}
                            </button>
                        </li>
                    </form>
                    {% endfor %}
                </ul>
                {%endif%}
            </div>
            <!-- end of friends bar-->
        </div>
    </div>

</div>
{% endif %}

{% endblock %}