<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="../static/css/styleLogInPopUp.css" rel="stylesheet">
    <link href="../static/css/styling.css" rel="stylesheet">

</head>
<body>
<div class="container">
    <!--   start of  the  nav bar   -->
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">chat</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                    </li>
                </ul>

                <!--  login form   -->
                <div>
                    <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#ModalForm">
                        login
                    </button>
                    <div class="modal fade" id="ModalForm" tabindex="-1" aria-labelledby="ModalFormLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    <div class="myform bg-dark">
                                        <h1 class="text-center">logIn</h1>
                                        <form>
                                            <div class="mb-3 mt-4">
                                                <label for="exampleInputEmail1" class="form-label"> your public
                                                    address</label>
                                                <input type="email" class="form-control" id="exampleInputEmail1"
                                                       aria-describedby="emailHelp">
                                            </div>
                                            <div class="mb-3">
                                                <label for="exampleInputPassword1" class="form-label">your private
                                                    key</label>
                                                <input type="password" class="form-control" id="exampleInputPassword1">
                                            </div>

                                            <div class="mb-3">
                                                <label for="exampleInputPassword1" class="form-label">your Name</label>
                                                <input type="password" class="form-control" id="exampleInputName">
                                            </div>
                                            <button type="submit" class="btn btn-light mt-3">LOGIN</button>
                                            <p>Not a member? <a href="#">Signup now</a></p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </nav>


    <!--   end of the nav bar   -->

    <div class="row gutters">

        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

            <div class="card m-0">

                <!-- Row start -->
                <div class="row no-gutters">

                    <!--start of friends bar -->

                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3">
                        <div class="users-container">
                            <br>
                                <div>

                                    <button type="button" class="btn btn-primary btn-med">add friend</button>

                                </div>


                            <br>
                            <ul class="users">
                                <li class="person" data-chat="person1">
                                    <div class="user">
                                        <img src="https://www.bootdey.com/img/Content/avatar/avatar3.png"
                                             alt="Retail Admin">
                                        <span class="status busy"></span>
                                    </div>
                                    <p class="name-time">
                                        <span class="name">Steve Bangalter</span>
                                        <span class="time">15/02/2019</span>
                                    </p>
                                </li>


                            </ul>
                        </div>
                    </div>
                    <!--end of friends bar -->

                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-9 col-9">
                        <div class="selected-user">
                            <span> To: <span class="name">{{myAddress}}</span></span>
                        </div>
                        <div class="chat-container">
                            <ul class="chat-box chatContainerScroll">

                                <li class="chat-left">
                                    <div class="chat-avatar">
                                        <img src="https://www.bootdey.com/img/Content/avatar/avatar3.png"
                                             alt="Retail Admin">
                                        <div class="chat-name">Russell</div>
                                    </div>
                                    <div class="chat-text">Hello, I'm Russell.
                                        <br>How can I help you today?
                                    </div>
                                    <div class="chat-hour">08:55 <span class="fa fa-check-circle"></span></div>
                                </li>


                                <li class="chat-right">
                                    <div class="chat-hour">08:56 <span class="fa fa-check-circle"></span></div>
                                    <div class="chat-text">Hi, Russell
                                        <br> I need more information about Developer Plan.
                                    </div>
                                    <div class="chat-avatar">
                                        <img src="https://www.bootdey.com/img/Content/avatar/avatar3.png"
                                             alt="Retail Admin">
                                        <div class="chat-name">Sam</div>
                                    </div>
                                </li>

                                <li class="chat-left">
                                    <div class="chat-avatar">
                                        <img src="https://www.bootdey.com/img/Content/avatar/avatar3.png"
                                             alt="Retail Admin">
                                        <div class="chat-name">Russell</div>
                                    </div>
                                    <div class="chat-text">Are we meeting today?
                                        <br>Project has been already finished and I have results to show you.
                                    </div>
                                    <div class="chat-hour">08:57 <span class="fa fa-check-circle"></span></div>
                                </li>

                                <li class="chat-left">
                                    <div class="chat-avatar">
                                        <img src="https://www.bootdey.com/img/Content/avatar/avatar3.png"
                                             alt="Retail Admin">
                                        <div class="chat-name">Russell</div>
                                    </div>
                                    <div class="chat-text">Are we meeting today?
                                        <br>Project has been already finished and I have results to show you.
                                    </div>
                                    <div class="chat-hour">08:57 <span class="fa fa-check-circle"></span></div>
                                </li>


                            </ul>
                            <div class="form-group mt-3 mb-0">
                                <textarea class="form-control" rows="3"
                                          placeholder="Type your message here..."></textarea>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Row end -->
            </div>

        </div>


    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>

</div>
</body>
</html>
