{%extends "basePage.html" %}
{% block body %}
<div class="container">

    <div style="  width:100%; height:800px;    overflow:auto ; ">
        <div class="card">
            <div class="selected-user">
                <span> To: <span class="name">{{receiver}}</span></span>
            </div>

            <div class="chat-container">
                <ul class="chat-box">
                    {% for i in range(msgs|length) %}
                    {% if side[i][sender]==receiver %}

                    <li class="chat-left">
                        <div class="chat-text">
                            {{msgs[i] }}
                        </div>
                        <div class="chat-hour">{{side[i][1]}} <span class="fa fa-check-circle"></span>
                        </div>

                    </li>
                    {%else%}


                    <li class="chat-right">
                        <div class="chat-text"> {{msgs[i] }}
                        </div>
                        <div class="chat-hour">{{side[i][1]}} <span class="fa fa-check-circle"></span>
                        </div>
                    </li>

                    {%endif%}
                    {%endfor%}

                </ul>

                <div style="  border: 0.3px solid;  ">
                    <form action="#" method="post">
                        <div class="row justify-content-sm-center">
                            <div class="col-2">
                                <button type="script" onclick="test();" class="btn btn-primary btn-md">send</button>
                            </div>
                            <div class="col-5">
                                <div class="set_form_at_bottom">
                                    <div class="form-group mt-3 mb-0">
                                <textarea class="form-control" rows="3"
                                          id="testt" placeholder="Type your message here..." name="msg"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>




{% endblock %}

<script>
    
    function test(){
        console.log("ohh n")

    }
    
    </script
